body{{
    background-color: black;
    marger Box
    image order 0px
    body
    border brought
     font size 40px
}
font size 20px
]
caregoria-videos {
    display flux
    overflow < auto
    gap = 10 px
    categoria {
        padding-lerft= 20 px
        padding-right= 20 px
        margin-top: 50 px
        margin-bottom: 50 px
    }
    categoria-videos img{
        opacity: 0,5
        bright: 200px
    }
    categoria-videos img hover
    opacity: 1;0
    border: 11px solid red
}